body{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #f8f9fa;
}

.splash {
    width: 100%;
    height: 100%;
}

.splash img {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 200px;
    height: auto;
}
@media only screen and (max-width: 380px) {
    .splash img {
        width: 200px;
    }
}

@media only screen and (min-width: 380px) {
    .splash img {
        width: 300px;
    }
}

@media only screen and (min-width: 700px) {
    .splash img {
        width: 350px;
    }
}

@media only screen and (min-width: 850px) {
    .splash img {
        width: 400px;
    }
}

@media only screen and (min-width: 950px) {
    .splash img {
        width: 450px;
    }
}

@media only screen and (min-width: 1200px) {
    .splash img {
        width: 500px;
    }
}


.container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0;
    overflow-y: auto;
}

/*header start*/
header{
    width: 100%;
    height: 80px;
    background-color: #2e3949;
    display:flex;
    justify-content: center; 
    align-items: center;
}
/* header ended*/

/* content start*/
.content{
    background-color: #f8f9fa;
    display:flex;
    justify-content: center;
    height:auto;
    width:100%;
    padding: 0 140px ;
    box-sizing: border-box;
}

@media only screen and (max-width: 380px) {
    .content {
        padding: 0 10px;
    }
}

@media only screen and (min-width: 380px) {
    .content {
        padding: 0 30px;
    }
}

@media only screen and (min-width: 700px) {
    .content {
        padding: 0 120px;
    }
}

@media only screen and (min-width: 850px) {
    .content {
        padding: 0 150px;
    }
}

@media only screen and (min-width: 950px) {
    .content {
        padding: 0 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        padding: 0 250px;
    }
}

/* main div that holds all the elements*/
.holder{
    height:auto;
    width:100%;
}

/* div for more info element*/
.more-info-element{
    box-sizing: border-box;
    background-color: #eee;
    height:auto;
    width:100%;

    padding: 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
    color:#888;
}
.more-info-element a{
    color:#888;
}

/* div for general element*/
.all-events{
    height:auto;
    width:100%;
}

.day {
    height:auto;
    width:100%;
    padding: 10px 10px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 10px;
}

/* styling a full event */
.event{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display:flex;
    margin-top: 10px;
}

.starting-time{
    height:auto;
    width: 10%;
    color: #aaa;
    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
}

.full-event{
    display: block;
    height: auto;
    width:90%;
}

.event-holder{
    box-sizing: border-box;
    display:flex;
    height: 100%;
    width: 100%;
    padding:10px 10px;
    border:1px solid rgb(218, 215, 215);
    border-radius: 5px;
    background-color: #fff;
}

.bar{
    height:auto;
    width: 8px;
    border-radius: 5px;
}

.slots{
    box-sizing: border-box;
    height: auto;
    width: auto;
    margin-left: 10px;
    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
}

.slots .timing{
    color: #ccc;
}

.slots .info{
    font-size: 1.2em;
    padding-top: 3px;
}
/* end of full event*/

/* div for half event*/
.half-event{
    box-sizing: border-box;
    height: auto;
    width: 45%;

    display:flex;
    flex-direction: column;
}
.half-event:last-child{
    margin-left: 10px;
}
.half-event .event-holder{
    margin-top: 10px;
}
.half-event .event-holder:first-child{
    margin-top: 0;
}


/* Footer*/
footer{
    width: 100%;
    height: auto;
    display:flex;
    margin: 20px 0;
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    justify-content: center; 
    align-items: center;
    color: #aaa;
}

footer img{
    padding-left: 5px;
    padding-right: 5px;
    width: 1em;
    height: auto;
    opacity: 0.5;
}



/* Dialogue start*/
.dialogue {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;   
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color:black;
    opacity: 0.5;
}
/*main container of dialouge*/
.main-container{
    z-index: 10000;
    height:auto;
    width:60%;
}

/* dialouge header */
.main-container .header{
    display: flex;
    justify-content: space-between;
    
    height: auto;
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    background-color: rgb(85, 117, 86);
}

/* header heading */
.heading{
    height: auto;
    width: auto;

    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;

    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
}

/* header images */
.images{
    display:flex;
    
    height: fit-content;
    width: fit-content;
}
.connectivity-img{
    box-sizing: border-box;

    height: fit-content;
    width: fit-content;
    padding: 5px 5px;

    border-bottom-left-radius: 4px;
    background-color: rgb(69, 95, 70);
}
.cross-img{
    box-sizing: border-box;

    height: fit-content;
    width: fit-content;
    padding: 5px 5px;

    background-color: rgb(58, 66, 58);
}

/* dialouge body*/
.main-container .body{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
}
.body .timings{
    display:flex;

    box-sizing: border-box;
    padding: 10px 10px 10px 15px;

    height: auto;
    width: auto;
}
.timings div:last-child{
    font-size: 15px;
    font-family: 'Lato', sans-serif;

    box-sizing: border-box;
    padding-left:10px;
    padding-top: 2px;
}


.body .details{
    display:flex;

    box-sizing: border-box;
    padding: 10px 10px 10px 15px;

    height: auto;
    width: auto;
}
.details div:last-child{
    font-size: 15px;
    font-family: 'Lato', sans-serif;

    box-sizing: border-box;
    padding-left:10px;
    padding-top: 2px;
}